src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="875c2466-8cdd-4c5f-bce5-4a3ddfcfb938" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="335f1df3-1a8e-4822-bc07-a049fcb92a94" >
		<http:listener doc:name="Listener" doc:id="e187e551-bb26-474d-b8b5-5401652dfe52" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="e1019f23-599d-47fb-a29e-457f689512e0" message='#["Entered the Cicd Mule flow........"]'/>
		<ee:transform doc:name="Transform Message" doc:id="7de83a8b-94a5-45e0-bfb4-f43b0f881525" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Mule App Deployed to Jenkins"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
